*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f9f9f9;
}

.box{
    position: relative;
    width: 450px;
    height: 450px;
    background: #007ec6;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box::before{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: #f9f9f9;
    transform: scale(.95);
}

.circle-center{
    position: absolute;
    width: 35px;
    height: 35px;
    background: #007ec6;
    border-radius: 50%;
}

.circle-top{
    position: absolute;
    width: 150px;
    height: 150px;
    background: #007ec6;
    border-radius: 50%;
    transform: translateY(-92.2px);
}

.circle-top::before{
    content: '';
    position: absolute;
    top: -3px;
    left: 50px;
    width: 45px;
    height: 45px;
    background: #f9f9f9;
    border-radius: inherit;
}

.circle-bottomLeft{
    position: absolute;
    width: 150px;
    height: 150px;
    background: #007ec6;
    border-radius: 50%;
    transform: translate(-79px,45px) rotate(-120deg);
}

.circle-bottomLeft::before{
    content: '';
    position: absolute;
    top: -3px;
    left: 55px;
    width: 45px;
    height: 45px;
    background: #f9f9f9;
    border-radius: inherit;
}

.circle-bottomLRight{
    position: absolute;
    width: 150px;
    height: 150px;
    background: #007ec6;
    border-radius: 50%;
    transform: translate(79px,45px) rotate(120deg);
}

.circle-bottomLRight::before{
    content: '';
    position: absolute;
    top: -3px;
    left: 55px;
    width: 45px;
    height: 45px;
    background: #f9f9f9;
    border-radius: inherit;
}

h2{
    font-size: 50px;
    color: #007ec6;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    z-index: 1;
    transform: translateY(160px);
}