*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#000 , #1c002c);
}

.loading{
    position: relative;
    width: 200px;
    height: 200px;
    background: conic-gradient(#0000 10%, #8f44fd);
    border-radius: 50%;
    /* -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 20px),#000 0); */
    animation: animate 0.8s infinite linear;
}

@keyframes animate {
    100%{
        transform: rotate(360deg);
    }
}



/* ⚠️ توجه: در فایل style.css و در خط 20، یک قطعه کد CSS به دلیل منسوخ شدن (deprecated) به صورت کامنت قرار داده شده است تا در مرورگرهای جدید اروری ایجاد نکند.

اگر قصد دارید پروژه را روی مرورگرهایی با پشتیبانی از ویژگی‌های قدیمی اجرا کنید، می‌توانید آن خط را از حالت کامنت خارج کنید.

💡 پیشنهاد می‌شود قبل از استفاده، بررسی کنید که مرورگر مورد نظر از آن ویژگی پشتیبانی می‌کند یا خیر */